apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-wildcard-host
spec:
  ingressClassName: nginx 
  rules:
  - host: "rohanshahidevops.com.np"
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: tetris-service
            port:
              number: 80
